<!-- Material form login -->
<mdb-card class="mb-5 ml-5 mr-5">

  <mdb-card-header class="pink white-text text-center py-4">
    <h5>
      <strong>Sign in</strong>
    </h5>
  </mdb-card-header>


  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;">

      <!-- Name -->
      <div class="md-form">
        <input type="text" id="name" class="form-control" mdbInput>
        <label for="name">Nombre</label>
      </div>

      <!-- Address -->
      <div class="md-form">
        <input type="text" id="address" class="form-control" mdbInput>
        <label for="address">Dirección</label>
      </div>

      <div class="d-flex justify-content-around">


      <!-- Sign in button -->
        <a class="btn btn-pink btn-lg btn-rounded" (click)="saveClinicData()" mdbWavesEffect>
          Guardar</a>
      </div>

    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>
<!-- Material form login -->
