<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center modalWrapper">
    <div mdbModal #modalAdd="mdbModal" class="modal fade addNewInputs" id="modalAdd" tabindex="-1" role="dialog"
         aria-labelledby="modalAdd"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold info-text ml-5">Añadir articulo</h4>
            <button type="button" class="close text-primary" (click)="modalAdd.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <form #addForm>
              <div class="md-form mb-5">
                <input type="text" id="name" class="form-control validate" mdbInput required="required">
                <label data-error="wrong" data-success="right" for="name">User</label>
              </div>

              <div class="md-form mb-5">
                <input type="text" id="category" class="form-control validate" mdbInput required="required">
                <label data-error="wrong" data-success="right" for="category">Categoría</label>
              </div>

              <div class="md-form mb-5">
                <input type="number" id="unit_price" class="form-control validate" mdbInput>
                <label data-error="wrong" data-success="right" for="unit_price">Precio por unidad</label>
              </div>

              <div class="md-form mb-5">
                <input type="text" id="inits_in_stock" class="form-control validate" mdbInput>
                <label data-error="wrong" data-success="right" for="inits_in_stock">Unidades en stock</label>
              </div>
            </form>
          </div>
          <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
            <button class="btn btn-info btn-block buttonAdd" data-dismiss="modal"
                    (click)="insertInvoice(addForm, modalAdd)">Insertar articulo
              <i class="fas fa-paper-plane-o ml-1"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- SUCCESS DELETE MODAL -->
    <app-success-bottom-modal *ngIf="isSuccessDelete"
                              [message]="message"
                              (emitter)="hideSuccessDeleteModal()"
                              [isVisible]="isSuccessDelete">
    </app-success-bottom-modal>

    <!-- SUCCESS UPDATE MODAL -->
    <app-success-bottom-modal *ngIf="isSuccessUpdate"
                              [message]="message"
                              (emitter)="hideSuccessUpdateModal()"
                              [isVisible]="isSuccessUpdate">
    </app-success-bottom-modal>

    <!-- SUCCESS INSERT MODAL -->
    <app-success-bottom-modal *ngIf="isSuccessInsert"
                              [message]="message"
                              (emitter)="hideSuccessInsertModal()"
                              [isVisible]="isSuccessInsert">
    </app-success-bottom-modal>

    <app-confirm-delete *ngIf="confirmDeleteModalIsVisible"
                        [deletedObject]="selectedInvoice"
                        [message]="message"
                        (emitter)="modalRemove()"
                        [isVisible]="confirmDeleteModalIsVisible">
    </app-confirm-delete>
  </div>

  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="row w-100 d-flex align-items-center mx-auto">
        <div class="col-md-4 d-flex align-items-center">
          <span class="font-weight-bolder">Mostrar</span>

          <select class="browser-default custom-select mx-2" [(ngModel)]="visibleItems"
                  (ngModelChange)="visibleItems = +$event" style="width: unset;">
            <option value="10" selected>10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>

          <span class="font-weight-bolder">Articulos</span>
        </div>
        <div class="col-md-4 my-3 d-flex">
          <a (click)="modalAdd.show()" mdbWavesEffect type="button" class="btn-floating success-green  text-align-center"><i
            class="fa fa-plus" aria-hidden="true"></i></a>
        </div>

        <div class="col-md-4 my-3 text-right d-flex align-items-center text-align-center">
          <input placeholder="Buscar" type="search" class="form-control form-control-sm ml-2" [(ngModel)]="searchText">
        </div>
      </div>
      <table mdbTable mdbTableEditor class="table table-striped z-depth-1" [hover]="true" [itemsPerPage]="visibleItems"
             #table="mdbEditor"
             (rowHighlight)="highlightedRow = $event">
        <thead class="info-color white-text">
        <tr>
          <th *ngFor="let head of headElements; let i = index"
              scope="col">{{head}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of table.performSearch(this.searchText); let i = index" #tableRow>
          <td>
            <ng-container *ngIf="i !== rowIndex">
              {{item.id}}
            </ng-container>
            <ng-container *ngIf="i == rowIndex">
              <input disabled [size]="1" type="number" class="form-control" [value]="item.id">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="i !== rowIndex">
              {{item.user_id}}
            </ng-container>
            <ng-container *ngIf="i == rowIndex">
              <input disabled [size]="1" type="number" class="form-control" [value]="item.user_id">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="i !== rowIndex">
              {{item.creation_date}}
            </ng-container>
            <ng-container *ngIf="i == rowIndex">
              <input disabled [size]="item.creation_date.length" type="text" class="form-control"
                     [value]="item.creation_date">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="i !== rowIndex">
              {{item.shipping_method}}
            </ng-container>
            <ng-container *ngIf="i == rowIndex">
              <input [size]="item.shipping_method.length" type="text" class="form-control"
                     [value]="item.shipping_method">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="i !== rowIndex">
              {{item.payment_method}}
            </ng-container>
            <ng-container *ngIf="i == rowIndex">
              <input disabled [size]="item.payment_method.length" type="text" class="form-control"
                     [value]="item.payment_method">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="i !== rowIndex">
              {{item.estimated_delivery_date}}
            </ng-container>
            <ng-container *ngIf="i == rowIndex">
              <mdb-date-picker name="estimated_delivery_date" [placeholder]="'Selected date'"
                               [(ngModel)]="selectedDate"></mdb-date-picker>
            </ng-container>
          </td>
          <td *ngIf="isTableEditable">
            <div class="d-flex flex-column flex-center">
              <a *ngIf="!isRowEditable" (click)="showEditIcons(i, item)" mdbWavesEffect type="button"
                 class="btn-floating info-color"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>
              <div *ngIf="visibleEditIcons && i == rowIndex" class="d-flex flex-center">
                <a (click)="approveEdit(tableRow)" mdbWavesEffect type="button" class="btn-floating success-green mr-2"><i
                  class="fa fa-check" aria-hidden="true"></i></a>
                <a (click)="showInvoiceDetails(item.id)" mdbWavesEffect type="button"
                   class="btn-floating secondary-color  mr-2"><i
                  class="fa fa-list" aria-hidden="true"></i></a>
                <a (click)="showConfirmDeleteModal()" mdbWavesEffect type="button"
                   class="btn-floating error-red mr-2"><i
                  class="fa fa-trash-alt" aria-hidden="true"></i></a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="8">
            <div class="d-flex flex-center">
              <span>Mostrando desde {{table.paginationInfo.firstItem}} hasta {{table.paginationInfo.lastItem}}
                de {{table.paginationInfo.allItems}} articulos</span>
              <div class="flex-1"></div>
              <mdb-icon fas icon="angle-left" size="lg" (click)="table.prevPage()" class="p-2"
                        [ngClass]="{'disabled text-muted': table.disablePrevious()}" mdbWavesEffect></mdb-icon>
              <mdb-icon fas icon="angle-right" size="lg" (click)="table.nextPage()" class="p-2"
                        [ngClass]="{'disabled text-muted': table.disableNext()}" mdbWavesEffect></mdb-icon>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
